body {
    font-size: 20px;
}
.header h1 {
    text-align: center;
    color: black !important;
}

.header h2 {
    text-align: center;
    color: black !important;
}

.header-secondary {
    text-align: left;
    background-color: #0f0e0b;
    border-bottom: #42ab9e;
}
.header img {
    padding: 90xp;
}
.skills {
    text-align: center;
    color: white;
}

.navbar {
    background-color: black;
    height: 50px;
}

a.navbar-brand {
    font-size: 30px !important;
    color: #42ab9e !important;
    font: 'Tangerine' !important;
}

a.nav-link {
    color: #42ab9e !important;
    font-size: 15px !important;
    text-align: center
}

footer{
    background-image: url('img/manzanas_img_1.png');
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
}

footer h3{
    color: black;
    font-size: 25px;
}

footer h4{
    color: black;
    font-size: 20px;
}

footer p{
    color: black;
    font-size:15px;
}

footer i.fa{
    color: black;
}

.header-secondary i.fa  {
    color: #42ab9e !important;    
}

nav.header-secondary{
    height: 25px;
}    

#maincontent{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url('img/portada_principal_1.png');
}  

#maincontent h1{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 60px;
}  

#about {
    background-color: black;
    width: 100%;
    height: 850px;
    padding-top: 15px;
    overflow: scroll;
}

#about p{
    color: #42ab9e;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 250;
}

#about h1{
    color: #42ab9e !important;
}

#about h4{
    color: #42ab9e !important;
}

.name{
    padding: 10px;
}
#clients {
       overflow: scroll;
}
#clients2 img{
    paddingp: 15px;
    width: auto;
    height: auto;
    max-width:100%;
    max-height:100%;
    border-radius:0%;
    overflow: scroll;
}
#portfolio2 img{
    padding: 15px;
    width: auto;
    height: auto;
    max-height:100%;
    max-width:100%;
    border-radius:100%;
    overflow: scroll;
}

#portfolio3 img{
    padding: 15px;
    width: auto;
    height: auto;
    max-height:100%;
    max-width:100%;
    border-radius:100%;
   overflow: scroll;

}

#portfolio h1{
text-align: center;
color:black !important;
}

#portfolio {
    padding-top: 5px;
    color:black !important;
    background-image: url('img/manzanas_img_1.PNG');
}

#portfolio2 {
    padding-bottom: 70px;
    color:black !important;
}

#portfolio3 {
    padding-bottom: 70px;
    color:black !important;
}

div#portfolio2.container-fluid.text-center{
    padding: 10px;
}

div#portfolio2.container-fluid.text-center div.row div.col-xs-6.col-md-4{
    padding: 10px;
}

div#portfolio3.container-fluid.text-center div.row div.col-xs-6.col-md-4{
    padding: 10px;
}

div#portfolio3.container-fluid.text-center{
    padding: 10px;
}

#portfolio2 div.scroll-top.page-scroll{
    padding-top: 75px;
}

#portfolio2 a {
    color: black;
}

#portfolio3 a {
    color: black;
}

#clients {
    background-color: white;
    width: 100%;
    height: 700px;
    padding: 20px;
    color: #42ab9e !important;
    overflow: scroll;
}

#clients h1 {
    color: #42ab9e !important;
}

#clients2 {
    padding: 70px;
}

#clients3 {
    padding: 70px;
}

hr.star-light, hr.star-primary{
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 250px;
}

a.btn-social.btn-outline{
     color:white;
     border-color: solid white;
 }

 .profile{
     border-radius: 100%;
     padding-top: 0px;
 }

 ul.navbar-nav li.page-scroll.active a.nav-link{
     font-size:auto !important;
     padding: 30 10 30 10px !important;
 }

 a.btn.btn-primary{
     background-color: black;
     border: none;
     padding: 1rem;
 }

 #message.form-control{
     height: 100px;
 }

 body.modal-open div.modal-backdrop { 
    z-index: 0; 
}

